@model webschool.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Field.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalendarBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalendarBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalendarEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalendarEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
